<style>
  li:before{
    content: '\007C';
  }
</style>
<div align="center">
    <nav class="navbar navbar-expand-sm bg-success navbar-dark ">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a style="text-decoration: none" class="nav-link"  routerLink="/" routerLinkActive="active" >Text Base64</a>
        </li>
        &nbsp;
        <li class="nav-item">
          <a style="text-decoration: none" class="nav-link" routerLink="/img-base64" routerLinkActive="active">Image To Base64</a>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item">
            <a style="text-decoration: none" class="nav-link" routerLink="/base64-img" routerLinkActive="active">Base64 To Image</a>
        </li>
      </ul>
    </nav>
    <div class="container ">
      <div class="card ">
        <div class="card-body d-flex justify-content-center">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  <footer class="page-footer font-small blue pt-4">
    <h3>Base64 Convert</h3>
  </footer>
</div>




